<%- include('../layouts/index.ejs') %>
    <p>hello world</p>
    <div class="container">
        <p>welcome to the homepage to showcase my skills in both tech and finance</p>
    </div>
    <%- include('../layouts/footer') %>